<!DOCTYPE html>
<html>
<head>
{% load static from staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "style.css" %}/>
</head>
<body>
    <div id="centered-panel">
        <div id="header-panel"><h1>OOPS!</h1></div>
        <div style="display:block;margin:auto auto;height:50px;width:50px;float:left">
            <img src="/idm/ss/static/images/warning.png" alt="Error Warning" style="width:30px;height:30px">
        </div>
        <div style="width:auto;overflow:auto;">
            <h3>An error has occurred while processing your request.<BR>Please contact the administrators of this system.</h3>
            <p><a href="{{ url|urlencode }}">Click here to try again.</a></p>
            <p>{{ content }}</p>
        </div>
    </div>
</body>
</html>
