<!DOCTYPE html>
<html>
<head>
{% load static from staticfiles %}
<link rel="stylesheet" type="text/css" href="/idm/ss/static/style.css" />
</head>
<body>
     <div id="header-panel"><h1>Recover Password</h1></div>
     <div id="centered-panel">
         <img src="/idm/ss/static/images/success.png" alt="Success" style="width:30px;height:30px"><br>
         <p>Your password has been reset.</p>
         <p>If you have any problems with your logon, please contact the system administrators.</p>
     </div>
</body>
</html>

